.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form,
.result {
    border: 5px solid rgb(148, 142, 216);
    width: 600px;
}

input[type=text] {
    background-color: black;
    color: white;
}

input,
textarea {
    border: 2px solid rgb(148, 142, 216);
    border-style: dashed;
}

#resultText {
    border: 2px rgb(148, 142, 216);
    border-bottom-style: dashed;
}

input,
textarea,
#resultText,
.form,
.result,
.user_name {
    background-color: black;
}

.result {
    height: 350px;
}

label,
button,
input,
p,
textarea {
    color: white;
}

h2 {
    margin-left: 15px;
    color: rgb(117, 115, 239);
}

p,
img {
    margin: 5px 20px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

input,
textarea,
#result,
#resultText {
    width: 450px;
    margin: 10px 0;
}

textarea {
    height: 150px;
}

button {
    width: 150px;
    height: 35px;
    margin: 10px 30px;
    background-color: rgb(117, 115, 239);
    font-weight: 600;
}

.user {
    display: flex;
    flex-direction: row;
}

#resultText {
    margin-left: 20px;
}