.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check {
    display: flex;
}

.check>label:first-child {
    width: 250px;
    margin-top: 10px;
}

.check_radio {
    margin-right: 25px;
    width: 30px;
}

label>input {
    width: 25px;
}

.form,
.result {
    border: 5px solid rgb(148, 142, 216);
    width: 550px;
}

input,
textarea {
    border: 2px solid rgb(148, 142, 216);
    border-style: dashed;
}

#resultText {
    border: 2px rgb(148, 142, 216);
    border-bottom-style: dashed;
}

input,
textarea,
#resultText,
.form,
.result,
.user_name {
    background-color: black;
}

.result {
    height: 350px;
}

.result>p,
.user_date>p {
    font-size: small;
}

.user>p {
    font-weight:800;
}

.user>p,
.user_date>p {
    color: rgb(117, 115, 239);
}

label,
button,
input,
p,
textarea {
    color: white;
}

h2 {
    margin-left: 15px;
    color: rgb(117, 115, 239);
}

p,
img {
    margin: 5px 20px;
}


img {
    width: 70px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

input,
textarea,
#result,
#resultText {
    width: 450px;
    margin: 10px 0 20px 0;
}

textarea {
    height: 150px;
}

button {
    width: 150px;
    height: 35px;
    margin: 5px 20px;
    background-color: rgb(117, 115, 239);
    font-weight: 600;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_img_date {
    display: inline-flex;
    align-items: center;

}

#resultText {
    margin-left: 20px;
}

.user_date {
    display: inline-flex;
    align-items: end;
}